VITE_SUPABASE_URL=https://tcurffusobpltkzqxtay.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjdXJmZnVzb2JwbHRrenF4dGF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NTEzMzYsImV4cCI6MjA5MTIyNzMzNn0.MpJycW5z554BkcJaY7V5iPwxfX2mRAcscd5UWuaj5hw
db_pwd=EZRbQyXp2eOsQEWq